body {
    background-color: #f9f9f9;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

.nav-link {
    font-family: 'Bahnschrift', sans-serif;
}

.bahnschrift {
    font-family: 'Bahnschrift', sans-serif;
}

#navbar {
    background-color: rgb(160, 62, 62);
    filter: drop-shadow(0 5px 5px rgb(172, 172, 172));
}

img {
    height: 32px;
    width: 32px;
}

.misc {
    margin-top: 2rem;
}

#sendBtn {
    margin-top: 2rem;
    background-color: #D3756B;
    border-color: #c1c1c1;
}

#sendBtn:hover {
    background-color: #c26359;
}

#sendBtn:focus {
    outline: 0;
    background-color: #99483f;
}

.line {
    height: 1px;
    background-color: #707070;
}

th,tr {
    font-family: 'Bahnschrift', sans-serif;
    text-align: center;
    color: #343434;
}

td a {
    color: #343434;
}

.cardElement {
    background-color: white;
}