.navbar-brand {
    font-family: 'Dancing Script', cursive;
}

.nav-link {
    font-family: 'Bahnschrift', sans-serif;
}

#navbar {
    background-color: rgb(160, 62, 62);
    filter: drop-shadow(0 5px 5px rgb(172, 172, 172));
}

img {
    height: 32px;
    width: 32px;
}